/* styles.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 设置容器的高度为视口高度，垂直居中 */
}

img {
    display: block;
    -webkit-user-select: none;
    background-color: transparent;
    width: 50px;
}

p {
    margin-top: 10px; /* 控制文字与图片之间的间距 */
}
